@model IEnumerable<NewCIPlatform.Entities.Models.TblSkill>
@{
    ViewData["Title"] = "MissionSkills";
}

<link href="~/css/StyleAdminPages.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@*<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">*@
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
    .form-control:focus {
        outline: none !important;
        box-shadow: 0 0 3px #F88634 !important;
        border-color: #F88634;
    }

    .form-group label {
        font-weight: bold;
        font-size: 13px;
        margin-bottom: 5px;
    }
    .modal-backdrop
    {
        display: none;
    }

    .form-control {
        height: 2rem !important;
        font-size: 9px !important;
        margin-bottom: 10px !important;
        margin-top: 5px !important;
    }


</style>
<div class="d-flex">
    @*<div class="position-sticky" style="width: 20%; top:0px;">
        <partial name="_SideBar" />
    </div>*@
    <div class="sticky-top m-auto" style="width: 80%; font-size: 0.72rem;">
        <partial name="_AdminNavBar" />
        <div class="p-4 pt-2">
            <h2 class="pb-2 pe-2 mb-0">Mission Skills</h2>
            <hr class="mt-0" />
            <div class="d-flex align-items-center justify-content-between mb-3">
                <div class=" start-btn">

                    <input class="me-2 p-2" style="outline: none; height: 2rem; width: 15rem;" id="myInputTextField" type="search" placeholder="Search" aria-label="Search">
                </div>

                <div class="end-btn">
                    <div>
                        <a class="apply-btn px-3" data-bs-toggle="modal" data-bs-target="#staticBackdropAdd">
                            <i class="bi bi-plus-lg "></i>  Add
                        </a>
                         <!-- Modal -->
                        <div class="modal fade" id="staticBackdropAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="border-radius: 2px; padding: 0px 10px!important;">
                                    <div class="modal-header border-0 d-flex align-items-center">
                                        <h1 class="modal-title fs-6 mt-1" id="staticBackdropLabel">Add Skill</h1>
                                        <a role="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                                    </div>
                                    <form asp-controller="Admin" asp-action="UpdateStatusForSkills">
                                        <div class="modal-body border-0" style="padding-top: 0px;">
                                            <div class="row" style="font-size: 11px;">
                                                    
                                                <input class="form-control" style="font-size: 11px;" name="skillId" value="" hidden>
                                                <label>Skill Name</label>
                                                <input class="form-control" name="skillName" type="text" placeholder="Enter Skill Name" value="" required>
                                                <label>Status</label>
                                                <select class="form-control" name="status">
                                                    <option value="1">Active</option>
                                                    <option value="2">Inactive</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer border-0 mb-2 ms-3 ">
                                            <a style="font-size: 13px; padding: 7px 10px;" class="cancel-btn me-2" data-bs-dismiss="modal">Cancel</a>
                                            <input type="submit" style="font-size: 13px;" class="apply-btn" value="Save"/>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <table id="myTable" class="table">
                <thead>
                    <tr>
                        <th>Skill Name</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var skill in Model)
                    {
                        <tr>
                            <td>@skill.SkillName</td>
                            <td>
                                @if (skill.Status == 1)
                                {
                                    <span class="" style="color: #14C506;">Active</span>
                                }
                                else
                                {
                                    <span class="text-danger">Inactive</span>
                                }
                            </td>
                            <td class="d-flex">

                                <div>
                                    <!-- Button trigger modal -->
                                    <a data-bs-toggle="modal" data-bs-target="#staticBackdrop_@skill.SkillId">
                                        <i role="button" class="bi bi-pencil-square me-2" style="color: orange;"></i>
                                    </a>

                                    <!-- Modal -->
                                    <div class="modal fade" id="staticBackdrop_@skill.SkillId" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content" style="border-radius: 2px; padding: 0px 10px!important;">
                                            <div class="modal-header border-0 d-flex align-items-center">
                                                <h1 class="modal-title fs-6 mt-1" id="staticBackdropLabel">Edit Skill</h1>
                                                <a role="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                                            </div>
                                            <form asp-controller="Admin" asp-action="UpdateStatusForSkills">
                                                <div class="modal-body border-0" style="padding-top: 0px;">
                                                    <div class="row" style="font-size: 11px;">
                                                    
                                                        <input class="form-control" style="font-size: 11px;" name="skillId" value="@skill.SkillId" hidden>
                                                        <label>Skill Name</label>
                                                        <input class="form-control" name="skillName" type="text" placeholder="Enter Skill Name" value="@skill.SkillName">
                                                        <label>Status</label>
                                                        <select class="form-control" asp-for="@skill.Status" name="status">
                                                            <option value="1">Active</option>
                                                            <option value="2">Inactive</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="modal-footer border-0 mb-2 ms-3 ">
                                                    <a style="font-size: 13px; padding: 7px 10px;" class="cancel-btn me-2" data-bs-dismiss="modal">Cancel</a>
                                                    <input type="submit" style="font-size: 13px;" class="apply-btn" data-bs-dismiss="modal" value="Save"/>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div>
                                    <a asp-controller="Admin" asp-action="DeleteSkills" asp-route-skillId="@skill.SkillId"><i role="button" class="bi bi-trash3" style="color: #000000;"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {
            // Update the live time every second
            setInterval(function () {
                var now = new Date();
                var formattedTime = now.toLocaleString('en-IN', { weekday: 'long', month: 'long', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', hour12: true });
                $('#live-time').text(formattedTime);
            }, 1000);
        });
    </script>
}
@*script for datatable*@
<script>
   @* $('#myTable').DataTable({
        pageLength: 10,
        "lengthChange": false,
        searching: true,
        "language": {
            "paginate": {
                "previous": "<",
                "next": ">"
            }
        },
        //"scrollX": true
    });*@
</script>

@*script to select(css) the nav link*@
<script>
    var tab = document.getElementById('skillPageBtn');
    tab.classList.add('active-page');
    tab.disabled = true;
</script>

<script>
    $('#myInputTextField').keyup(function () {
        //var table = document.getElementById('myTable');
       @* let table = new DataTable('#myTable');
        table.search($(this).val()).draw();*@
    });
</script>

<script>
    function UpdateSkillStatus(skillId,flag)
    {
        console.log(skillId,flag);
        $.ajax({
            url: ("/Admin/UpdateStatusForSkills"),
            type: "GET",
            data: {
                skillId: skillId,
                flag: flag
            },
            success: function (result) {
                console.log(result);
                //var findDiv = $(result).find('#myTable');
                //$('#myTable').html(findDiv);
                //$("#PartialView").html(result);

                location.reload();

            }
        });
    }
</script>
<script>
    @*$('.updateSkill').on('submit', function (event) {
        event.preventDefault();
        console.log('Form submitted');
       var formData = $(this).serialize();
        console.log(formData);
        $.ajax({
            url: ("/Admin/UpdateStatusForSkills"),
            type: 'POST',
            data: formData,
            success: function (response) {
                location.reload();
            },
            error: function (xhr, status, error) {
                console.log("error");
            }
        });

    });*@

</script>
